<div class="container" style="padding-top: 10%;">
  <h1 class="h1">הרשמה לאתר</h1>
  <form action="/action_page.php" #myForm="ngForm" (ngSubmit)="addClient()" style="direction: rtl;">
    <div class="form-group" ><br>
      <label for="email" style="margin-right:35% ;">כתובת דוא"ל:</label>
      <input  type="email" #ngEmail="ngModel" [(ngModel)]="clientService.newClient.EmailAddress" class="form-control" id="EmailAddress" name="EmailAddress" style="width: 30%;margin-right: 35%; border-color:#f3e412;"  minlength="10" required>
      <div class="alert alert-danger" *ngIf="ngEmail.invalid&&(ngEmail.touched||ngEmail.dirty)" style="width: 30%;margin-right: 35%; border-color:white; background-color: white; color:#d42a30;font-weight: bolder;">
        <p *ngIf="!ngEmail.valid && ngEmail.touched">זהו שדה חובה</p>
        <!-- <p *ngIf="ngEmail.errors.required">דוא"ל זה שדה חובה</p> -->
        <!--<p *ngIf="ngEmail.errors.pattern">gfhfgh</p>
        <p *ngIf="ngEmail.errors.minlength">יש להכניס לפחות 10 תווים</p> -->
      </div>
    </div>
    <div class="form-group">
      <label for="pwd" style="margin-right:35% ;">סיסמא:</label>
      <input type="password" #ngPassword="ngModel" [(ngModel)]="clientService.newClient.Password" class="form-control" id="Password" name="Password" style="width: 30%;margin-right: 35%; border-color:#f3e412;" required>
      <div class="alert alert-danger" *ngIf="ngPassword.invalid&&(ngPassword.touched||ngPassword.dirty)" style="width: 30%;margin-right: 35%; border-color:white; background-color: white; color:#d42a30;font-weight: bolder;">
        <p *ngIf="!ngPassword.valid && ngPassword.touched">זהו שדה חובה</p>
      </div>
    </div>
      <div class="custom-control custom-checkbox mb-3" style="margin-right: 35%;" required>
        <input required type="checkbox"  class="custom-control-input" id="customCheck" name="example1" style="margin-left: 10px;" >
        <a href="#">אני מסכים לתנאי האתר</a>
      </div>
    <!-- <div class="form-group form-check">
      <label class="form-check-label h4" style="margin-right: 35%;">
        <input class="form-check-input" type="checkbox" name="remember" > 
        <a href="#">אני מסכים לתנאי האתר</a>
      </label>
    </div> -->
    <button type="submit" class="button btn-lg" style="margin-right: 35%;" [disabled]="!myForm.form.valid">אישור</button>
  </form>
</div> 