<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/men.jpg" class="img-responsive">
        <p class="p">ביצוע הזמנה</p>
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
    </div>
</section>
<div class="container">
    <div class="container-fluid">
        <section class="row" dir="rtl">
            <h3 class="p1">מהיכן אוספים את המשלוח?</h3><br>
            <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;">
                <div class="div1">
                    <!--    <div class="form-inline" >            
                <select  aria-label="Default select example" [(ngModel)]="takingDeliveryService.newTakingDelivery.TDCityID" [ngModelOptions]="{standalone: true}" name="city">
                    <option *ngFor="let item of cityService.listCity" value="{{item.CityID}}">{{item.CityName}}</option>
                </select>
            </div>
            <div class="form-inline">
                <select [(ngModel)]="takingDeliveryService.newTakingDelivery.TDStreetID" [ngModelOptions]="{standalone: true}" nam="Street">
                    <option *ngFor="let item of streetService.listStreet" value="{{item.StreetID}}">{{item.StreetName}}</option>
                </select>
            </div >  -->
                    <!-- <input placeholder="בניין" type="text" #ngArea="ngModel" [(ngModel)]="takingDeliveryService.newTakingDelivery.TDBuildingNumber" class="form-control" id="BuildingNumber" name="BuildingNumber" style="width: 8%;"> -->

                    <input ngx-google-places-autocomplete #placesRef="ngx-places"
                        (onAddressChange)="takeDeliveryAddress($event)" required name="place" #place />


                    <div class="divError" style="width:90px;">
                        <input placeholder="כניסה" type="text" #ngTDEntranceBuilding="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDEntranceBuilding"
                            class="input4 form-control" id="EntranceBuilding" name="EntranceBuilding"
                            style="width:90px;">
                        <!-- <div class="error"
                            *ngIf="ngTDEntranceBuilding.invalid&&(ngTDEntranceBuilding.touched||ngTDEntranceBuilding.dirty)">
                        </div> -->
                    </div>


                    <div class="divError" style="width:90px;">
                        <input placeholder="קומה" type="text" #ngTDFloorNumber="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDFloorNumber"
                            class="input4 form-control" id="FloorNumber" name="FloorNumber" pattern="[0-9]*"
                            style="width:90px; ">
                        <div class="error"
                            *ngIf="ngTDFloorNumber.invalid&&(ngTDFloorNumber.touched||ngTDFloorNumber.dirty)">
                            <i *ngIf="ngTDFloorNumber.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="דירה" type="text" #ngTDApartmentNumber="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDApartmentNumber"
                            class="input4 form-control" id="ApartmentNumber" name="ApartmentNumber" pattern="[0-9]*"
                            required>
                        <div class="error"
                            *ngIf="ngTDApartmentNumber.invalid&&(ngTDApartmentNumber.touched||ngTDApartmentNumber.dirty)">
                            <i *ngIf="ngTDApartmentNumber.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngTDApartmentNumber.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>

                    <div class="divError">
                        <input placeholder="שם פרטי" type="text" #ngTDFirstName="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDFirstName"
                            class="input4 form-control" id="FirstName" name="FirstName" pattern="[A-Za-zא-ת]*" required>
                        <div class="error" *ngIf="ngTDFirstName.invalid&&(ngTDFirstName.touched||ngTDFirstName.dirty)">
                            <i *ngIf="ngTDFirstName.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngTDFirstName.errors!.pattern">אינו יכול להכיל מספרים</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="שם משפחה" type="text" #ngTDLastName="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDLastName" class="input4 form-control"
                            id="LastName" name="LastName" pattern="[A-Za-zא-ת]*" required>
                        <div class="error" *ngIf="ngTDLastName.invalid&&(ngTDLastName.touched||ngTDLastName.dirty)">
                            <i *ngIf="ngTDLastName.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngTDLastName.errors!.pattern">אינו יכול להכיל מספרים</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="טלפון" type="text" #ngTDPhone="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDPhone" class="input4 form-control"
                            id="Phone" name="Phone" pattern="[0-9]*" required>
                        <div class="error" *ngIf="ngTDPhone.invalid&&(ngTDPhone.touched||ngTDPhone.dirty)">
                            <i *ngIf="ngTDPhone.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngTDPhone.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>



                    <div class="divError">
                        <input placeholder="טלפון נוסף" type="text" #ngTDAdditionalPhone="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDAdditionalPhone"
                            class="input4 form-control" id="AdditionalPhone" name="AdditionalPhone" pattern="[0-9]*">
                        <div class="error"
                            *ngIf="ngTDAdditionalPhone.invalid&&(ngTDAdditionalPhone.touched||ngTDAdditionalPhone.dirty)">
                            <i *ngIf="ngTDAdditionalPhone.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>



                    <div class="divError">
                        <input placeholder="מייל" type="text" #ngTDEmail="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.TDEmail" class="input4 form-control"
                            id="Email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="error" *ngIf="ngTDEmail.invalid&&(ngTDEmail.touched||ngTDEmail.dirty)">
                            <i *ngIf="ngTDEmail.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngTDEmail.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>

                    <!-- <p class="p2">שעות שניתן לקחת את המשלוח:</p>
                    <p class="p3">מ:</p>
                    <input type="text" #ngArea="ngModel"
                        [(ngModel)]="takingDeliveryService.newTakingDelivery.TDPickUpTime" class="form-control"
                        id="PickUpTime" name="PickUpTime" style="width: 10%;margin-right: 29.5%;margin-top: -3.5%;">
                    <p class="p4">עד:</p>
                    <input type="text" #ngArea="ngModel"
                        [(ngModel)]="takingDeliveryService.newTakingDelivery.TDPickUpTimeUntil" class="form-control"
                        id="StreetName" name="PickUpTimeUntil" style="width: 10%;margin-right: 75%;margin-top: -7%;"> -->
                </div>
                <h3 class="p1">לאן מביאים את המשלוח?</h3><br>
                <div class="div1">
                    <!-- <div class="form-inline">
            <select [(ngModel)]="takingDeliveryService.newTakingDelivery.GDCityID" [ngModelOptions]="{standalone: true}" nam="city">
            <option *ngFor="let item of cityService.listCity" value="{{item.CityID}}">{{item.CityName}}</option>
        </select>
        </div>
        <div class="form-inline">
            <select [(ngModel)]="takingDeliveryService.newTakingDelivery.GDStreetID" [ngModelOptions]="{standalone: true}" nam="Street">
            <option *ngFor="let item of streetService.listStreet" value="{{item.StreetID}}">{{item.StreetName}}</option>
        </select>
        </div>
        <input placeholder="בניין" type="text" #ngArea="ngModel" [(ngModel)]="takingDeliveryService.newTakingDelivery.GDBuildingNumber" class="form-control" id="BuildingNumber" name="BuildingNumber" style="width: 8%;"> -->

                    <input ngx-google-places-autocomplete #placesRef="ngx-places"
                        (onAddressChange)="getDeliveryAddress($event)" required name="place" #place />

                    <div class="divError" style="width:90px;">
                        <input placeholder="כניסה" type="text" #ngGDEntranceBuilding="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDEntranceBuilding"
                            class="input4 form-control" id="EntranceBuilding" name="EntranceBuilding"
                            style="width:90px;">
                    </div>

                    <div class="divError" style="width:90px;">
                        <input placeholder="קומה" type="text" #ngGDFloorNumber="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDFloorNumber"
                            class="input4 form-control" id="FloorNumber" name="FloorNumber" pattern="[0-9]*"
                            style="width:90px;">
                        <div class="error"
                            *ngIf="ngGDFloorNumber.invalid&&(ngGDFloorNumber.touched||ngGDFloorNumber.dirty)">
                            <i *ngIf="ngGDFloorNumber.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="דירה" type="text" #ngGDApartmentNumber="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDApartmentNumber"
                            class="input4 form-control" id="ApartmentNumber" name="ApartmentNumber" pattern="[0-9]*"
                            required>
                        <div class="error"
                            *ngIf="ngGDApartmentNumber.invalid&&(ngGDApartmentNumber.touched||ngGDApartmentNumber.dirty)">
                            <i *ngIf="ngGDApartmentNumber.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngGDApartmentNumber.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>

                    <div class="divError">
                        <input placeholder="שם פרטי" type="text" #ngGDFirstName="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDFirstName"
                            class="input4 form-control" id="FirstName" name="FirstName" pattern="[A-Za-zא-ת]*" required>
                        <div class="error" *ngIf="ngGDFirstName.invalid&&(ngGDFirstName.touched||ngGDFirstName.dirty)">
                            <i *ngIf="ngGDFirstName.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngGDFirstName.errors!.pattern">אינו יכול להכיל מספרים</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="שם משפחה" type="text" #ngGDLastName="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDLastName" class="input4 form-control"
                            id="LastName" name="LastName" pattern="[A-Za-zא-ת]*" required>
                        <div class="error" *ngIf="ngGDLastName.invalid&&(ngGDLastName.touched||ngGDLastName.dirty)">
                            <i *ngIf="ngGDLastName.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngGDLastName.errors!.pattern">אינו יכול להכיל מספרים</i>
                        </div>
                    </div>


                    <div class="divError">
                        <input placeholder="טלפון" type="text" #ngGDPhone="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDPhone" class="input4 form-control"
                            id="Phone" name="Phone" pattern="[0-9]*" minlength="9" required>
                        <div class="error" *ngIf="ngGDPhone.invalid&&(ngGDPhone.touched||ngGDPhone.dirty)">
                            <i *ngIf="ngGDPhone.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngGDPhone.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>



                    <div class="divError">
                        <input placeholder="טלפון נוסף" type="text" #ngGDAdditionalPhone="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDAdditionalPhone"
                            class="input4 form-control" id="AdditionalPhone" name="AdditionalPhone" minlength="9" pattern="[0-9]*">
                        <div class="error"
                            *ngIf="ngGDAdditionalPhone.invalid&&(ngGDAdditionalPhone.touched||ngGDAdditionalPhone.dirty)">
                            <i *ngIf="ngGDAdditionalPhone.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>



                    <div class="divError">
                        <input placeholder="מייל" type="text" #ngGDEmail="ngModel"
                            [(ngModel)]="takingDeliveryService.newTakingDelivery.GDEmail" class="input4 form-control"
                            id="Email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="error" *ngIf="ngGDEmail.invalid&&(ngGDEmail.touched||ngGDEmail.dirty)">
                            <i *ngIf="ngGDEmail.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngGDEmail.errors!.pattern">אינו יכול להכיל אותיות</i>
                        </div>
                    </div>
                    <!-- <p class="p2">שעות שניתן לקחת את המשלוח:</p>
                    <p class="p3">מ:</p>
                    <input type="text" #ngArea="ngModel"
                        [(ngModel)]="takingDeliveryService.newTakingDelivery.GDPickUpTime" class="form-control"
                        id="PickUpTime" name="PickUpTime" style="width: 10%;margin-right: 29.5%;margin-top: -3.5%;">
                    <p class="p4">עד:</p>
                    <input type="text" #ngArea="ngModel"
                        [(ngModel)]="takingDeliveryService.newTakingDelivery.GDPickUpTimeUntil" class="form-control"
                        id="StreetName" name="PickUpTimeUntil" style="width: 10%;margin-right: 75%;margin-top: -7%;"> -->
                </div>
                <div class="form-inline">
                    <h3 class="p1">דחיפות המשלוח?</h3><br>
                    <div class="div4">

                        <div *ngFor="let d of listDayDeliveryUrgency">
                            <input class="radio" type="radio" name="d.numDayDeliveryUrgency"
                                value="{{d.nameDayDeliveryUrgency}}">
                            <label>{{d.nameDayDeliveryUrgency}}</label>
                        </div>
                        <!-- <div class="div2" >
                            
                            <select [(ngModel)]="takingDeliveryService.newTakingDelivery.DeliveryUrgencyID"
                                [ngModelOptions]="{standalone: true}" nam="DeliveryUrgency">
                                <option *ngFor="let item of deliveryUrgencyService.listDeliveryUrgency"
                                    value="{{item.DeliveryUrgencyID}}">{{item.Urgency}}</option>
                            </select>
                        </div> -->
                    </div>

                </div>
                <div class="form-inline col-sm-12 col-lg-12">
                    <h3 class="p5">סוג המשלוח?</h3><br>
                    <!-- <div class="div6"> -->

                    <div class="div3">
                        <div class="div2" *ngFor="let d of deliveryTypeService.listDeliveryType">
                            <input type="checkbox" name="d.DeliveryTypeName"  (change)="checkDeliveryType(d.DeliveryTypeID)"> 
                            <label class="label1">{{d.DeliveryTypeName}}</label>
                        </div>
                        <!-- <select [(ngModel)]="takingDeliveryService.newTakingDelivery.DeliveryTypeID"
                                [ngModelOptions]="{standalone: true}" nam="DeliveryType">
                                <option *ngFor="let item of deliveryTypeService.listDeliveryType"
                                    value="{{item.DeliveryTypeID}}">
                                    {{item.DeliveryTypeName}}</option> -->
                        <!-- </select> -->
                        <div class="div5" *ngIf="takingDeliveryService.newTakingDelivery.DeliveryTypeID==2"> 
                            <!-- <input placeholder="כמות" type="number" #ngArea="ngModel"
                                    [(ngModel)]="takingDeliveryService.newTakingDelivery.Amount" class="form-control"
                                    id="Amount" name="Amount" style="border-color: gray;"><br><br> -->
                            <input placeholder="נפח" type="text" #ngArea="ngModel"
                                [(ngModel)]="takingDeliveryService.newTakingDelivery.Volume" class="form-control"
                                id="Volume" name="Volume" style="border-color: gray;">
                        </div>
                    </div>
                    <!-- </div> -->
                    <button type="button" class="button btn-lg" style="margin-right: 35%;"
                        [disabled]="!myForm.form.valid" (click)="addDetailesDelivey()"
                        [routerLink]="['/Pay']">אישור</button>
                </div>
            </form>
        </section>
    </div>
</div>