.h1{
    color:#d42a30;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;

}
.button{
    width: 30%;
    background-color: #fcee21;
    color:black;
    font-weight: bold;
    border-radius: 0%;
    margin-bottom: 18.8%;
    
}
.h4{
    font-weight: bold;
}
.box{
    width: 10px;
}



