<div class="container">
    <div class="container-fluid" >
        <section class="row" >
            <div class="col-xs-12 col-lg-12">
                <br><br><br>
                <img src="../../assets/Images/pic14.jpg" class="img-thumbnail img-responsive" style="width: 100%;">
                <p class="p">ביצוע הזמנה</p>    
                <div class="YellowLineLeft"></div>
                <div class="YellowLineRight"></div>
                <br><br>
            </div>
        </section>
    </div>
</div>
<br><br>
<section class="row" dir="rtl">
    <h3 class="p1">מהיכן אוספים את המשלוח?</h3>
    <form action="/action_page.php" style="direction: rtl;">
        <input placeholder="רחוב" type="text" #ngArea="ngModel" [(ngModel)]="takingDeliveryService.newTakingDelivery.StreetName" class="form-control" id="StreetName" name="StreetName">

    </form>

</section>