<div class="container" style="padding-top: 10%;">
    <h1 class="h1">לחברה כניסה לאתר</h1>
    <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;" >
      <div class="form-group" ><br>
        <label for="email" style="margin-right:35% ;">קוד חברה</label>
        <input  type="number" #ngCompanyNumber="ngModel" [(ngModel)]="sendingCompanyService.newCompany.CompanyNumber" class="form-control" id="CompanyNumber" name="CompanyNumber" style="width: 30%;margin-right: 35%; border-color:#f3e412;"  minlength="5" required>
        <div class="alert alert-danger" *ngIf="ngCompanyNumber.invalid&&(ngCompanyNumber.touched||ngCompanyNumber.dirty)" style="width: 30%;margin-right: 35%; border-color:white; background-color: teal;">
          <div class="invalid-feedback">Please fill out this field.</div> -->
          <!-- <p *ngIf="ngCompanyNumber.errors.required">דוא"ל זה שדה חובה</p> --> -->
          
          <!--<p *ngIf="ngEmail.errors.pattern">gfhfgh</p>
          <p *ngIf="ngEmail.errors.minlength">יש להכניס לפחות 10 תווים</p> -->
        <!-- </div>-->
      </div>  
      <div class="form-group">
        <label for="pwd" style="margin-right:35% ;">סיסמא:</label>
        <input type="password" #ngPassword="ngModel" [(ngModel)]="sendingCompanyService.newCompany.Password" class="form-control" id="Password" name="Password" style="width: 30%;margin-right: 35%; border-color:#f3e412;" required>
        <!-- <div class="alert alert-danger" *ngIf="ngEmail.invalid&&(ngEmail.touched||ngEmail.dirty)" style="width: 30%;margin-right: 35%; border-color:white; background-color: teal;"> -->
        <!-- </div> -->
      </div>
      <button (click)="Enter()" type="submit" class="button btn-lg" style="margin-right: 35%;" [disabled]="!myForm.form.valid">כניסה</button>
    </div>

    </form>
  </div> 