<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/pic13.jpg" class="img-responsive" style="margin-left: 45%;">
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <p class="p">סכום סופי לתשלום</p>
                <p class="p1">₪</p><br>
                <div dir="rtl">
                    <button type="button" class="button1" data-toggle="modal" data-target="#myModalPay">אישור</button>
                    <button type="button" class="button2" [routerLink]="['/Delivery']">ביטול</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-3">
    <div class="modal fade" id="myModalPay" style="margin-top: 7%;">
        <div class="modal-dialog" style="width: 55%;">
            <div class="modal-content" style="height: 500px;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-right: 1.5%; margin-top: 1.5%;">×</button>
                <br><br>
                <p class="p2">פרטי האשראי שלי:</p>
                <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;">
                    <div class="form-group"><br>
                        <!-- <label for="email" style="margin-right:5% ;">קוד חברה:</label> -->
                        <input type="text" placeholder="מס' כרטיס" #ngCardNumber="ngModel" [(ngModel)]="CardNumber"
                            class="input1 form-control" id="CardNumber" name="CardNumber" maxlength="16" required><br>
                        <div class="error" *ngIf="ngCardNumber.invalid&&(ngCardNumber.touched||ngCardNumber.dirty)">
                            <i *ngIf="ngCardNumber.errors!.required">שדה חובה</i>
                            <i *ngIf="ngCardNumber.errors!.maxlength">אינו מכיל 16 ספרות</i>
                        </div><br>
                        <div class="form-group">
                            <!-- <label for="pwd" style="margin-right:5% ;">סיסמא:</label> -->
                            <input type="text" placeholder="תוקף כרטיס" #ngCardValidity="ngModel"
                                [(ngModel)]="CardValidity" class="input1 form-control" id="ngCardValidity"
                                name="ngCardValidity" required><br>
                            <div class="error"
                                *ngIf="ngCardValidity.invalid&&(ngCardValidity.touched||ngCardValidity.dirty)">
                                <i *ngIf="ngCardValidity.errors!.required">שדה חובה</i>
                            </div><br>
                        </div>
                        <div class="form-group"><br>
                            <!-- <label for="email" style="margin-right:5% ;">קוד חברה:</label> -->
                            <input type="text" placeholder="3 ספרות אחרונות בגב הכרטיס" #ngLast3Digits="ngModel"
                                [(ngModel)]="Last3Digits" class="input1 form-control" id="Last3Digits" name="Last3Digits"
                                maxlength="3" required><br>
                            <div class="error"
                                *ngIf="ngLast3Digits.invalid&&(ngLast3Digits.touched||ngLast3Digits.dirty)">
                                <i *ngIf="ngLast3Digits.errors!.required">שדה חובה</i>
                            </div><br>
                            <button (click)="Pay()" type="submit" class="button2 btn-lg" data-dismiss="modal"
                                [disabled]="!myForm.valid" [routerLink]="['/AddressPrinting']">סיום</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><br><br><br><br><br>