.YellowLineLeft{
    background:#fcee21;
    max-width: 40%;
    height: 2.5px;
    margin-top: -6%;
}

.YellowLineRight{
    background:#fcee21;
    height: 2.5px;
    margin-top: -0.4%;
    margin-left: 60%;
    max-width: 40%;
}
.p{
    font-size: 35px;
    color:#c1272d;
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
}
.p1{
    font-size: 20px;
    text-align: center;
    /* margin-right: 9%; */
}
.button1{
    width: 7%;
    background-color: #c1272d;
    color:white;
    border-color: white;
    padding: 7px;
    margin-right: 41.5%;
}
.button2{
    background-color: black;
    border-color: white;
    margin-right:2%;
    padding: 7px;
    color:white;
    width: 7%;
    margin-bottom: 4.5%;
    
}
.p2{
    font-size: 28px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #c1272d;
     margin-right:41%;
}
.input1{
    width: 100%;
    height: 45px;
    border-color:#f3e412;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 1.6px;
    border-style:solid ;
    font-size: 15px;
}
.error{
    width: 100%;
    margin-bottom:3%; 
    background-color: white;
    color: #c1272d;
    font-weight: bold;

}
.divError{
    width: 20%;
    background-color: white;
    margin-right:40%; 
}
.button3{
    background-color: #c1272d;
    border-color: white;
    color:white;
    margin-right: 42.5%;
}