<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/pay1.jpg" class="img-responsive" >

        <!-- <img src="../../assets/Images/pic13.jpg" class="img-responsive" style="margin-left: 45%;">
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br><br><br> -->
        <div class="container">
            <div class="container-fluid">
                <p class="p">סכום סופי לתשלום</p><br>
                <p class="p1">₪{{takingDeliveryService.newTakingDelivery.FinalPay | number : '1.2-2'}}</p><br><br><br>
                <div dir="rtl">
                    <button type="button" class="button1" data-toggle="modal" data-target="#myModalPay"
                        (click)="update()">אישור</button>
                    <button type="button" class="button2" [routerLink]="['/Delivery']">ביטול</button>
                </div>
            </div>
        </div>
    </div>
</section><br>

<div class="container mt-3">
    <div class="modal fade" id="myModalPay" style="margin-top: 7%;">
        <div class="modal-dialog" style="width: 35%;" dir="rtl">
            <div class="modal-content" style="height: 400px;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-right: 1.5%; margin-top: 1.5%;">×</button>
                <br>
                <p class="p2">פרטי האשראי שלי:</p><br>
                <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;">
                    <div class="divError form-group">
                        <input type="text" placeholder="מס' כרטיס" #ngCardNumber="ngModel" [(ngModel)]="CardNumber"
                            class="input1 form-control" id="CardNumber" name="CardNumber" maxlength="16" minlength="16"
                            required>
                        <div class="error" *ngIf="ngCardNumber.invalid&&(ngCardNumber.touched||ngCardNumber.dirty)">
                            <i *ngIf="ngCardNumber.errors!.required">שדה חובה</i>
                            <i *ngIf="ngCardNumber.errors!.minlength">אינו תקין</i>
                        </div>
                    </div>
                    <div class="divError form-group">
                        <input type="month" placeholder="תוקף כרטיס" #ngCardValidity="ngModel" [(ngModel)]="CardValidity"
                            class="input1 form-control" id="ngCardValidity" name="ngCardValidity" maxlength="5"
                            required>
                        <div class="error"
                            *ngIf="ngCardValidity.invalid&&(ngCardValidity.touched||ngCardValidity.dirty)">
                            <i *ngIf="ngCardValidity.errors!.required">שדה חובה</i>
                        </div>
                    </div>
                    <div class="divError form-group">
                        <input type="text" placeholder="3 ספרות אחרונות בגב הכרטיס" #ngLast3Digits="ngModel"
                            [(ngModel)]="Last3Digits" class="input1 form-control" id="Last3Digits" name="Last3Digits"
                            maxlength="3" required>
                        <div class="error" *ngIf="ngLast3Digits.invalid&&(ngLast3Digits.touched||ngLast3Digits.dirty)">
                            <i *ngIf="ngLast3Digits.errors!.required">שדה חובה</i>
                        </div>
                    </div>
                    <button type="submit" class="button3 btn-lg" [disabled]="!myForm.valid" data-dismiss="modal"
                        [routerLink]="['/AddressPrinting']">סיום</button>
                </form>
            </div>
        </div>
    </div>
</div><br><br><br><br>