.YellowLineLeft{
    background:#fcee21;
    max-width: 40%;
    height: 2.5px;
    margin-top: -2%;
}

.YellowLineRight{
    background:#fcee21;
    height: 2.5px;
    margin-top: -0.4%;
    margin-left: 60%;
    max-width: 40%;
}
.p{
    font-size: 30px;
    color:#c1272d;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}
.p1{
    font-size: 30px;
    text-align: center;
    margin-right: 9%;
}
.button1{
    width: 7%;
    background-color: #c1272d;
    color:white;
    border-color: #c1272d;
    padding: 7px;
    margin-right: 40%;
}
.button2{
    background-color: black;
    border-color: black;
    margin-right:5%;
    padding: 7px;
    color:white;
    width: 7%;
    margin-bottom: 5%;
}
.p2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button3{
    width: 13%;
    background-color: #c1272d;
    color:white;
    border-color: #c1272d;
    padding: 7px;
    margin-right: 43%;
    margin-top: 5%;
    margin-bottom: 3%;
}
