<nav class="navbar  navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="logo"><img src="../../assets/Images/logo.jpg"></p>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
      <ul id="nav" class="nav navbar-nav navbar-right">
        <li *ngIf="!clientService.conected&&!sendingCompanyService.conected"><a><span class="glyphicon glyphicon-user"></span>הרשמה</a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-target="#myModalRegister">לקוח</a></li>
            <li><a [routerLink]="['/AllDetailsCompany']">חברה</a></li>
          </ul>
        </li>
        <li *ngIf="!clientService.conected&&!sendingCompanyService.conected"><a><span class="glyphicon glyphicon-log-in"></span>כניסה</a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-target="#myModalLogin">לקוח</a></li>
            <li><a data-toggle="modal" data-target="#myModalLoginComapny">חברה</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="clientService.typeUserCompany"><a [routerLink]="['/SiteTermCompany']">תנאי האתר</a></li>
        <li *ngIf="clientService.typeUserCompany"><a [routerLink]="['/TaskLog']">יומן השליחויות שלי</a></li>
        
        <li *ngIf="clientService.typeUserClient"><a [routerLink]="['/SiteTermsClient']">תנאי האתר</a></li>
        <li *ngIf="clientService.typeUserClient"><a [routerLink]="['/OrderTracking']">ההזמנות שלי</a></li>
        <li *ngIf="clientService.typeUserClient"><a [routerLink]="['/Delivery']">ביצוע הזמנה</a></li>

        <li><a [routerLink]="['/Home']">דף הבית</a></li>
        <li><a [routerLink]="['/Pay']">תשלום</a></li>

       
        <li *ngIf="clientService.conected||sendingCompanyService.conected"><a href="#" ><span class="glyphicon glyphicon-log-out"></span> יציאה</a></li>

        <!-- <li><a [routerLink]="['/Delivery']">צור קשר</a></li> -->
        <!-- <li><a href="#WebsiteTerms">תנאי האתר</a></li> -->
        <!-- <li><a [routerLink]="['/AllDetailsCompany']">אודותינו</a></li>
        <li><a [routerLink]="['/Home']">דף הבית</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- הרשמה לאתר ללקוח -->
<div class="container mt-3">
  <div class="modal fade" id="myModalRegister" style="margin-top: 7%;">
    <div class="modal-dialog" style="width: 55%;">
      <div class="modal-content" style="height: 500px;">
        <button type="button" class="close" data-dismiss="modal"
          style="margin-right: 1.5%; margin-top: 1.5%;">×</button>
        <br><br>
        <h1 class="h1">הרשמה לאתר</h1>
        <form action="/action_page.php" #myForm1="ngForm" style="direction: rtl;">
          <div class="form-group"><br>
            <label for="email" style="margin-right:5% ;">כתובת דוא"ל:</label>
            <input type="text" #ngEmail="ngModel" [(ngModel)]="clientService.newClient.EmailAddress"
              class="input form-control" id="Email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required>
            <div class="error" *ngIf="ngEmail.invalid&&(ngEmail.touched||ngEmail.dirty)">
              <i *ngIf="ngEmail.errors!.required">זהו שדה חובה</i>
              <i *ngIf="ngEmail.errors!.pattern">מייל לא תקין</i>
            </div><br>
            <div class="form-group">
              <label for="pwd" style="margin-right:5% ;">סיסמא:</label>
              <input type="password" #ngPassword="ngModel" [(ngModel)]="clientService.newClient.Password"
                class="input form-control" id="Password" name="Password" required>
              <div class="error" *ngIf="ngPassword.invalid&&(ngPassword.touched||ngPassword.dirty)">
                <i *ngIf="ngPassword.errors!.required">זהו שדה חובה</i>
              </div><br>
              <div class="form-group form-check">
                <label class="form-check-label" style="margin-right: 5%;">
                  <input type="checkbox" class="input3" name="remember" required #ngRemember [(ngModel)]="aaa">
                  <a class="a" [routerLink]="['/SiteTermsClient']" data-dismiss="modal">אני מסכים לתנאי האתר</a>
                </label>
              </div>
              <button (click)="addClient()" type="submit" class="button2 btn-lg"  
                [disabled]="!myForm1.valid" data-dismiss="modal">אישור</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- (ngSubmit)="addClient()" -->
<!-- כניסה לאתר ללקוח -->
<div class="container mt-3">
  <div class="modal fade" id="myModalLogin" style="margin-top: 7%;">
    <div class="modal-dialog" style="width: 55%;">
      <div class="modal-content" style="height: 500px;">
        <button type="button" class="close" data-dismiss="modal"
          style="margin-right: 1.5%; margin-top: 1.5%;">×</button>
        <br><br>
        <h1 class="h1">כניסה לאתר</h1>
        <form action="/action_page.php" #myForm2="ngForm" style="direction: rtl;">
          <div class="form-group"><br>
            <label for="email" style="margin-right:5% ;">כתובת דוא"ל:</label>
            <input type="text" #ngEmail1="ngModel" [(ngModel)]="clientService.newClient.EmailAddress"
              class="input form-control" id="Email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required>
            <div class="error" *ngIf="ngEmail1.invalid&&(ngEmail1.touched||ngEmail1.dirty)">
              <i *ngIf="ngEmail1.errors!.pattern">כתובת המייל אינה תקינה</i>
            </div><br>
            <div class="form-group">
              <label for="pwd" style="margin-right:5% ;">סיסמא:</label>
              <input type="password" #ngPassword1="ngModel" [(ngModel)]="clientService.newClient.Password"
                class="input1 form-control" id="Password" name="Password" required>
              <button (click)="EnterClient()" type="submit" class="button2 btn-lg" data-dismiss="modal"
                [disabled]="!myForm2.valid">כניסה</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- כניסה לחברה -->
<div class="container mt-3">
  <div class="modal fade" id="myModalLoginComapny" style="margin-top: 7%;">
    <div class="modal-dialog" style="width: 55%;">
      <div class="modal-content" style="height: 500px;">
        <button type="button" class="close" data-dismiss="modal"
          style="margin-right: 1.5%; margin-top: 1.5%;">×</button>
        <br><br>
        <h1 class="h1">כניסה לחברה</h1>
        <form action="/action_page.php" #myForm3="ngForm" style="direction: rtl;">
          <div class="form-group"><br>
            <label for="email" style="margin-right:5% ;">קוד חברה:</label>
            <input type="text" #ngCompanyNumber="ngModel" [(ngModel)]="sendingCompanyService.newCompany.CompanyNumber"
              class="input form-control" id="ngCompanyNumber" name="ngCompanyNumber" pattern="5?[0-9]{8}" required>
            <div class="error" *ngIf="ngCompanyNumber.invalid&&(ngCompanyNumber.touched||ngCompanyNumber.dirty)">
              <i *ngIf="ngCompanyNumber.errors!.pattern">קוד חברה אינו תקין</i>
            </div><br>
            <div class="form-group">
              <label for="pwd" style="margin-right:5% ;">סיסמא:</label>
              <input type="password" #ngPassword2="ngModel" [(ngModel)]="sendingCompanyService.newCompany.Password"
                class="input1 form-control" id="ngPassword2" name="ngPassword2" required>
              <button (click)="EnterCompany()" type="submit" class="button2 btn-lg" data-dismiss="modal"
                [disabled]="!myForm3.valid">כניסה</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>