.YellowLineLeft{
    background:#fcee21;
    max-width: 40%;
    height: 2.5px;
    margin-top: -2%;
}

.YellowLineRight{
    background:#fcee21;
    height: 2.5px;
    margin-top: -0.4%;
    margin-left: 60%;
    max-width: 40%;
}
.p{
    font-size: 30px;
    color:#c1272d;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}
.p1{
    font-size: 20px;
    text-align: center;
    color:#c1272d;
}
.div1{
    background-color:#fcee21;
    width: 100%;
    height: 190px;
    
}
.h2{
    color:#c1272d;
    text-align: center;
    font-weight: bold;
}
.p2{
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.h3{
    color:#c1272d;
    font-weight: bold;
    margin-right: 25%;
}
.p3{
    color:#c1272d;
    margin-right: 25%;
    font-size: 18px;
}
.p4{
    color:black;
    margin-right: 25%;
    font-size: 15px;
}
.div2{
    height: 700px;
    width: 60%;
    float: right;
}
.p5{
    font-size: 16px;
    margin-top: 5%;;
}
.p6{
    font-size: 20px;
    margin-top: 5%;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 0%;
}
.button1{
    width: 20%;
    background-color: #c1272d;
    color:white;
    border-color: #c1272d;
    float: left;
}