<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/track.jpg" class="img-responsive" >
        <p class="p">ההזמנות שלי</p>
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="div1" dir="rtl">
                    <a>
                        <p class="p1" (click)="showOrHide=true">מעקב אחרי ההזמנה שלי</p>
                    </a><br>
                    <div class="YellowLineLeft1"></div><br>
                    <a (click)="MyOrder()">
                        <p class="p1">ההזמנות שעשיתי</p>
                    </a> <br>
                    <div class="YellowLineLeft1"></div><br>
                 <!--    <a (click)="delete()">
                        <p class="p1">מחיקת המשתמש שלי</p><br>
                    </a>
                    <div class="YellowLineLeft1"></div><br> -->
                </div>
                <div [hidden]="!showOrHide">
                    <div class="YellowLinealong"></div>
                    <div class="div2"></div><br><br><br><br>
                    <div class="div3"></div><br><br><br><br>
                    <div class="div3"></div>
                    <div class="div4" dir="rtl">
                        <p class="p1">הזמנתך התקבלה ותטופל בקרוב<br><br><br>
                            המשלוח נאסף<br><br><br>
                            המשלוח הגיע ליעד</p>
                    </div>
                </div>
                <div [hidden]="showOrHide" >
                    <div class="div5"dir="rtl" *ngFor="let item of orderService.listOrder">
                        <button (click)="OrderTrack(item.OrderID!)" ><p>קוד הזמנה:{{item.OrderID!}}</p>
                        <p>קוד לקוח:{{item.ClientID!}}</p>
                        <p>תאריך הזמנה:{{item.OrderDate!}}</p></button>
                        <!-- <p *ngIf="a==2">המשלוח שובץ והוא בדרך אליך</p>
                        <p *ngIf="a==1">הזמנתך התקבלה ותטופל בקרוב</p>
                        <p *ngIf="a==3">ההזמנה הגיעה ליעד!</p> -->
                    </div>


                </div>
                <p *ngIf="a==2">המשלוח שובץ והוא בדרך אליך</p><br><br>
                <p *ngIf="a==1">הזמנתך התקבלה ותטופל בקרוב</p>
                <p *ngIf="a==3">ההזמנה הגיעה ליעד!</p>
            </div>
        </div>
    </div>
</section>