<div class="container">
    <div class="container-fluid" >
        <section class="row" >
            <div class="col-xs-12 col-lg-12">
                <br><br><br>
                <p class="p">מעקב הזמנה</p>    
                <div class="YellowLineLeft"></div>
                <div class="YellowLineRight"></div>
                <br><br>
                <div class="div1" dir="rtl">
                    <p class="p1">מעקב אחרי ההזמנה שלי</p><br>
                    <div class="YellowLineLeft1"></div><br>
                    <p class="p1">שינוי סיסמא</p><br>
                    <div class="YellowLineLeft1"></div><br>
                    <button (click)="delete()"><p class="p1">מחיקת המשתמש שלי</p><br></button>
                    <div class="YellowLineLeft1"></div><br>
                </div> 
                <div class="YellowLinealong"></div>
                <div class="div2"></div><br><br><br><br>
                <div class="div3"></div><br><br><br><br>
                <div class="div3"></div>
                <div class="div4" dir="rtl">
                    <p class="p1">הזמנתך התקבלה ותטופל בקרוב<br><br><br>
                    המשלוח נאסף<br><br><br>
                    המשלוח הגיע ליעד</p>
                </div>               

            </div>
        </section>
    </div>
</div>