.YellowLineLeft{
    background:#fcee21;
    max-width: 40%;
    height: 2.5px;
    margin-top: -2%;
}

.YellowLineRight{
    background:#fcee21;
    height: 2.5px;
    margin-top: -0.4%;
    margin-left: 60%;
    max-width: 40%;
}
.p{
    font-size: 30px;
    color:#c1272d;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}