<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/registCompany.jpg" class="img-responsive">

        <!-- <img src="../../assets/Images/pic14.jpg" class="img-thumbnail img-responsive" style="width: 100%;"> -->
        <p *ngIf="!sendingCompanyService.conected" class="p">הרשמה לחברה</p>
        <p *ngIf="sendingCompanyService.conected" class="p">הפרטים שלי</p>

        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
    </div>
</section>
<br><br>
<div class="container">
    <div class="container-fluid">
        <section class="row" dir="rtl">
            <h3 class="p1">פרטי החברה</h3>
            <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;">
                <div class="div1 col-sm-12 col-lg-12">
                    <div class="divError">
                        <input placeholder="שם החברה" type="text" #ngName="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.CompanyName" class="input4 form-control"
                            id="Name" name="Name" required>
                        <div class="error" *ngIf="ngName.invalid&&(ngName.touched||ngName.dirty)">
                            <i *ngIf="ngName.errors!.required">זהו שדה חובה</i>
                        </div>
                    </div>
                    <div class="divError">
                        <!-- <input placeholder="כתובת מלאה" type="text" #ngFullAddress="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.FullAddress"  class="input4 form-control" -->

                        <!-- id="FullAddress" name="כתובת מלאה" required> -->
                        <input class="input4 form-control" ngx-google-places-autocomplete #placesRef="ngx-places"
                            #ngFullAddress [(ngModel)]="sendingCompanyService.newCompany.FullAddress"
                            (onAddressChange)="changeAddress($event)" required name="place" #place="ngModel" />
                        <!-- 
                        <div class="error" *ngIf="ngFullAddress.invalid&&(ngFullAddress.touched||ngFullAddress.dirty)">
                            <i *ngIf="ngFullAddress.errors!.required">זהו שדה חובה</i>
                        </div> -->
                    </div>
                    <div class="divError">
                        <input placeholder="טלפון" type="text" #ngPhone="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.Phone" class="input4 form-control" id="Phone"
                            name="Phone" pattern="[0-9]*" maxlength="10" minlength="9" required>
                        <div class="error" *ngIf="ngPhone.invalid&&(ngPhone.touched||ngPhone.dirty)">
                            <i *ngIf="ngPhone.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngPhone.errors!.pattern||ngPhone.errors!.minlength">מספר לא תקין</i>
                        </div>
                    </div>
                    <div class="divError">
                        <input placeholder="מייל" type="email" #ngEmail="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.Email" class="input4 form-control" id="Email"
                            name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="error" *ngIf="ngEmail.invalid&&(ngEmail.touched||ngEmail.dirty)">
                            <i *ngIf="ngEmail.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngEmail.errors!.pattern">מייל לא תקין</i>
                        </div>
                    </div>
                </div>
                <h3 class="p1">פרטי בנק</h3>
                <div class="div2 col-sm-12 col-lg-12">
                    <div class="divError">
                        <input placeholder="שם המוטב" type="text" #ngBeneficiaryName="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.BeneficiaryName" class="input4 form-control"
                            id="BeneficiaryName" name="BeneficiaryName" pattern="[A-Za-zא-ת]*" required>
                        <div class="error"
                            *ngIf="ngBeneficiaryName.invalid&&(ngBeneficiaryName.touched||ngBeneficiaryName.dirty)">
                            <i *ngIf="ngBeneficiaryName.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngBeneficiaryName.errors!.pattern">לא יכול להכיל מספרים</i>
                        </div>
                    </div>
                    <div class="divError">
                        <input placeholder="בנק" type="text" #ngBank="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.Bank" class="input4 form-control" id="Bank"
                            name="Bank" pattern="[A-Za-zא-ת]*" required>
                        <div class="error" *ngIf="ngBank.invalid&&(ngBank.touched||ngBank.dirty)">
                            <i *ngIf="ngBank.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngBank.errors!.pattern">לא יכול להכיל מספרים</i>
                        </div>
                    </div>
                    <div class="divError">
                        <input placeholder="סניף" type="text" #ngBranch="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.Branch" class="input4 form-control"
                            id="Branch" name="Branch" pattern="[0-9]*" maxlength="3" required>
                        <div class="error" *ngIf="ngBranch.invalid&&(ngBranch.touched||ngBranch.dirty)">
                            <i *ngIf="ngBranch.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngBranch.errors!.pattern">לא יכול להכיל אותיות</i>
                        </div>
                    </div>
                    <div class="divError">
                        <input placeholder="מספר חשבון" type="text" #ngAccountNumber="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.AccountNumber" class="input4 form-control"
                            id="AccountNumber" name="AccountNumber" pattern="[0-9]*" maxlength="9" required>
                        <div class="error"
                            *ngIf="ngAccountNumber.invalid&&(ngAccountNumber.touched||ngAccountNumber.dirty)">
                            <i *ngIf="ngAccountNumber.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngAccountNumber.errors!.pattern">לא יכול להכיל אותיות</i>
                        </div>
                    </div>
                </div>
                <h3 class="p1">ימי עבודה</h3>
                <div class="div2 col-sm-12 col-lg-12">
                    <div *ngFor="let d of listDay">
                        <input type="checkbox" id="days" [checked]="d.showOrHide" name="d.numDay"
                            (change)="changeDay(d.numDay)" class="input1">
                        <label>{{d.nameDay}}</label>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-lg-12">
                    <div *ngFor="let d of listBusDay">
                        <label>{{d.nameDay}}</label>
                        <label>{{d.BeginningTime}}</label>
                        <label>{{d.EndTime}}</label>
                        <input type="text" #ngDay1="ngModel" [(ngModel)]="d.BeginningTime" class="form-control"
                            name="BeginningTime" placeholder="מהשעה">
                        <input type="text" #ngDay2="ngModel" [(ngModel)]="d.EndTime" class="form-control" name="EndTime"
                            placeholder="עד השעה"><br><br><br><br>
                    </div>
                </div> -->
                <h3 class="p1">ערים שהחברה עובדת</h3>
                <div class="div2 col-sm-12 col-lg-12">
                    <!-- <div class="col-12"> -->
                    <input #searchTextField id="searchTextField" type="text" size="50" placeholder="הכנס את מיקום העיר"
                        autocomplete="on" (focusout)="checkedCity($event)">
                    <!-- </div> -->
                    <button class="botton1" (click)="plusCity1()">+</button>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div style="margin-top: -3%;" *ngFor="let city of sendingCompanyService.newCompany.listCitiesCompany">
                        <button  (click)="deleteCity(city.CitiesCompanyID!)">x</button>
                        <label>{{city.nameCity}}</label><br><br><br><br>

                    </div>
                    <h4 style="margin-bottom: 2%;" *ngFor="let city of listCityName"><label>{{city}}</label></h4>
                    <br><br>
                </div>
                <!-- <button  (click)="deleteCity()">x</button> -->

                <!-- <select #ngCity="ngModel" [(ngModel)]="sendingCompanyService.newCompany.listCitiesCompany" multiple
                        (ngModelChange)="sendingCompanyService.newCompany.listCitiesCompany=$event"
                        name="CitiesCompanyID">
                        <option *ngFor="let item of cityService.listCity" (click)="clickedOption(item)"
                            [ngValue]="item">
                            {{item.CityName}}</option>
                    </select> -->
                <!-- <h3 class="p1">סוגי רכבים</h3>
            <select  #ngCar="ngModel" [(ngModel)]="sendingCompanyService.newCompany.listCarsCompany" multiple (ngModelChange)="sendingCompanyService.newCompany.listCarsCompany=$event" name="CarsCompanyID">
            <option *ngFor="let item of carsTypesService.listCarsTypes" (click)="clickedOption(item)" [ngValue]="item">{{item.CarTypeName}}</option>
        </select>   -->

                <h3 class="p1">סוגי רכבים</h3>
                <div class="div2 col-sm-12 col-lg-12">
                    <div *ngFor="let car of carsTypesService.listCarsTypes">
                        <input type="checkbox" id="cars" name="car" (change)="clickedCar(car)" class="input2"
                            [checked]="car.showOrHide">
                        <label>{{car.CarTypeName}}</label>

                    </div>
                </div>
                  <!--  <div *ngFor="let d of listBusDay">
                        <label>{{d.nameDay}}</label>
                        <label>{{d.BeginningTime}}</label>
                        <label>{{d.EndTime}}</label>
                        <input type="text" #ngDay1="ngModel" [(ngModel)]="d.BeginningTime" class="form-control"
                            name="BeginningTime" placeholder="מהשעה">
                        <input type="text" #ngDay2="ngModel" [(ngModel)]="d.EndTime" class="form-control" name="EndTime"
                            placeholder="עד השעה"><br><br><br><br>
                    </div>
                </div> -->

                <div class="col-sm-12 col-lg-12">
                    <div *ngFor="let d of sendingCompanyService.newCompany.listCarsCompany; let i = index;trackBy:trackByIdx">
                        <!-- <label>{{carsTypesService.listCarsTypes.CarTypeName}}</label> -->
                        <input type="text" #ngMaxVolume="ngModel" [(ngModel)]="sendingCompanyService.newCompany.listCarsCompany[i].MaxVolume" class="form-control"
                            name="{{i}}MaxVolume" placeholder="נפח הרכב"><br><br><br><br>
                    </div>
                </div>
                <h3 class="p1">סיום ההרשמה</h3>
                <div class="div2 col-sm-12 col-lg-12">
                    <div class="divError">
                        <input placeholder="קוד חברה" type="text" #ngCompanyNumber="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.CompanyNumber" class="input4 form-control"
                            id="CompanyNumber" name="CompanyNumber" pattern="5?[0-9]{9}" minlength="9" maxlength="9"
                            required>
                        <div class="error"
                            *ngIf="ngCompanyNumber.invalid&&(ngCompanyNumber.touched||ngCompanyNumber.dirty)">
                            <i *ngIf="ngCompanyNumber.errors!.required">זהו שדה חובה</i>
                            <i *ngIf="ngCompanyNumber.errors!.pattern">מספר לא תקין</i><br>
                            <!-- <i *ngIf="ngCompanyNumber.errors!.minlength"> להכיל 9 ספרות</i> -->
                        </div>
                    </div>
                    <div class="divError">
                        <input placeholder="סיסמא" type="password" #ngPassword="ngModel"
                            [(ngModel)]="sendingCompanyService.newCompany.Password" class="input4 form-control"
                            id="Password" name="Password" required>
                        <div class="error" *ngIf="ngPassword.invalid&&(ngPassword.touched||ngPassword.dirty)">
                            <i *ngIf="ngPassword.errors!.required">זהו שדה חובה</i>
                        </div>
                    </div>
                    <div class="divError">
                        <input type="password" placeholder="הכנס שנית את הסיסמא" #confirmpassword="ngModel" [(ngModel)]="password2!" name="confirmpassword"
                          id="confirmpassword" class="input4 form-control" required pattern="{{ ngPassword.value }}" />
                        <div class="error" *ngIf=" confirmpassword.invalid && (confirmpassword.touched||confirmpassword.dirty)">
                          <i *ngIf="confirmpassword.errors!.required">זהו שדה חובה</i>
                          <i *ngIf="confirmpassword.errors!.pattern">לא תואם לסיסמא</i>
                        </div>
                      </div>
                </div>
                <div *ngIf="!sendingCompanyService.conected" class="div4 col-sm-12 col-lg-12">
                    <input type="checkbox" name="remember" class="input3" required #ngRemember [(ngModel)]="aaa">
                    <a [routerLink]="['/SiteTermCompany']" style="color: black;">אני מסכים לתנאי האתר</a>
                </div>
                <button type="submit" class="button btn-lg" style="margin-right: 35%;" (click)="addDetailsCompany()"
                    [disabled]="!myForm.form.valid">אישור</button>
            </form>
        </section>
    </div>
</div>