<section class="row">
    <div class="col-xs-12 col-lg-12">
        <p class="p">יומן שליחויות</p>
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="div1" dir="rtl">
                    <a href="#">
                        <p class="p1">יומן השליחויות שלי</p><br>
                    </a>
                    <div class="YellowLineLeft1"></div><br>
                    <p class="p1">השליחויות שהיו שלי</p><br>
                    <div class="YellowLineLeft1"></div><br>
                    <div class="row text-center">
                        <div class="thumbnail">
                            <button (click)="updatSendingCompany()" [routerLink]="['/AllDetailsCompany']" type="submit"
                                class="btn">
                                <p class="p1">עדכון פרטי החברה שלי</p>
                            </button><br>
                        </div>
                    </div>
                    <div class="YellowLineLeft1"></div><br>
                    <p class="p1">
                        <a (click)="delete()">מחיקת המשתמש שלי</a></p><br>
                    <div class="YellowLineLeft1"></div><br>
                </div>
                <div class="YellowLinealong"></div>
                <div class="div2"></div><br><br><br>
                <div class="div3"></div><br><br><br>
                <div class="div3"></div><br><br>
                <button type="button" class="button">פירוט מסלולים</button><br><br><br><br>
                <button type="button" class="button">פירוט מסלולים</button><br><br><br><br>
                <button type="button" class="button">פירוט מסלולים</button>
            </div>
        </div>
    </div>
</section>