<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/date.jpg" class="img-responsive">
        <p class="p">השליחויות שלי</p>
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="div1" dir="rtl">
                    <a (click)="showOrHide=true">
                        <p class="p1">ההזמנות שלי להיום</p>
                    </a><br>
                    <div class="YellowLineLeft1"></div><br>
                    <a (click)="orderPath()">
                        <p class="p1">השליחויות שהיו לי</p>
                    </a><br>
                    <div class="YellowLineLeft1"></div><br>
                    <a [routerLink]="['/AllDetailsCompany']">
                        <p class="p1">עדכון פרטי החברה שלי</p>
                    </a><br>
                    <div class="YellowLineLeft1"></div><br>
                    <a (click)="delete()" data-toggle="modal"
                    data-target="#enter">
                        <p class="p1">מחיקת המשתמש שלי</p>
                    </a><br>
                    <div class="YellowLineLeft1"></div><br>
                </div>
                <div *ngIf="showOrHide==false">
                    <div class="order" dir="rtl">
                        <div *ngFor="let z of listOrderPath">
                            <p class="p2"><i>משלוח מספר:</i>{{z.OrderID!}}
                                <i>אספו את המשלוח מ:</i> {{z.TDNameAddress!}}
                                <i>נתנו את המשלוח ב:</i> {{z.GDNameAddress!}}
                            </p>
                        </div>
                        <!-- <div *ngFor="let item of deliveryRoutesService.listDeliveryRoutes">
                            <p class="p2"><i>תאריך שבו בוצע השליחות: </i>{{item.Date | slice: 0:10}}</p>
                        </div>
                        <div *ngFor="let item1 of destinationsRouteService.listCountOrder">
                            <p class="p2"><i>כמות ההזמנות במסלול: </i>{{item1}}</p>
                        </div>
                        <div *ngFor="let item of destinationsRouteService.listSumSalary" style="float: right;">
                            <p class="p2"><i>תשלום לחברה לכל מסלול: </i>{{item | number : '1.2-2'}}</p>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="showOrHide==true">
                    <div class="order" dir="rtl">
                        <i class="not" *ngIf="input==false" dir="rtl">אין לך שליחויות!</i><br><br>
                        <div *ngIf="input==true">
                            <i class="ii" dir="rtl">אנא הכנס כתובת שמישם מתכננים לצאת למסלול</i><br><br>
                            <input dir="rtl" class="input1 form-control" id="addrss" ngx-google-places-autocomplete
                                #placesRef="ngx-places" [(ngModel)]="address"
                                (onAddressChange)="createaslulByAdressfromManager($event)" required
                                name="place" /><br><br>
                            <button class="btnShortRout" *ngIf="address" data-toggle="modal" data-target="#ShortRoute"
                                style="float: none; margin-right: -18%;">אישור</button><br><br>
                        </div>
                        <div *ngFor="let i of bb">
                            <p class="p2"><i>משלוח מספר:</i>{{i.OrderID!}}
                                <i>אוספים את המשלוח מ:</i> {{i.TDNameAddress!}}
                                <i>נותנים את המשלוח ב:</i> {{i.GDNameAddress!}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- המסלול והמשלוחים שכתובת זו צריכה לבצע
                <div *ngFor="let i of listOrderToMaslulChadash">
                    {{i.order.OrderID!}}
                </div>
                <button type="button" class="button" (click)="deleteFromList()">אישור</button>
                <button type="button" class="button">ביטול</button> -->
            </div>
        </div>
    </div>
</section>

<!-- מסלול קצר -->
<div class="container mt-3">
    <div class="modal fade" id="ShortRoute" style="margin-top: 7%;">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content" style="display: flex; flex-direction: column; min-height: 10vh;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-right:-95%; margin-top: 1.5%;">×</button>
                <!-- <br> -->
                <h1>המסלול הקצר שלי</h1><br>
                <!-- המסלול והמשלוחים שכתובת זו צריכה לבצע -->
                <div dir="rtl">
                    <div *ngFor="let i of listOrderToMaslulChadash">
                        <p class="p2" style="text-align: center;">
                            <i style="font-size: 15px;">מספר משלוח: </i>{{i.order.OrderID!}}<br>
                            <!-- <i>נפח המשלוח: </i>{{i.order.Volume!}} -->

                            <i class="a" *ngIf="i.tOrG==1">
                                <i class="iii">איסוף חבילה:</i><br>
                                <i>כתובת: </i>{{i.order.TDNameAddress!}}
                                <i>מספר דירה: </i>{{i.order.TDApartmentNumber!}}
                                <i>שם מלא: </i>{{i.order.TDFirstName!}}
                                {{i.order.TDLastName!}}
                                <i>פלאפון: </i>{{i.order.TDPhone!}}
                                <i>פלאפון נוסף: </i>{{i.order.TDAdditionalPhone}}<br>
                            </i>

                            <i class="a" *ngIf="i.tOrG==2">
                                <i class="iii">נתינת חבילה:</i><br>
                                <i>כתובת: </i>{{i.order.GDNameAddress!}}
                                <i>מספר דירה: </i>{{i.order.GDApartmentNumber!}}
                                <i>שם מלא: </i>{{i.order.GDFirstName!}}
                                {{i.order.GDLastName!}}
                                <i>פלאפון: </i>{{i.order.GDPhone!}}
                                <i>פלאפון נוסף: </i>{{i.order.GDAdditionalPhone}}
                            </i>
                        </p>
                        <p style="color: #fdec00;">
                            ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        </p>
                    </div>
                </div>
                <button type="button" class="button" (click)="deleteFromList()" data-dismiss="modal" data-toggle="modal"
                    data-target="#email">אישור</button>
                <button type="button" class="button1" data-dismiss="modal">ביטול</button>
            </div>
        </div>
    </div>
</div>

<!-- שליחת מייל -->
<div class="container mt-3">
    <div class="modal fade" id="email" style="margin-top: 7%;">
        <div class="modal-dialog" style="width: 40%;">
            <div class="modal-content" style="display: flex; flex-direction: column; min-height: 10vh;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-right:-95%; margin-top: 1.5%;">×</button>
                    <form action="/action_page.php" #myForm="ngForm" style="direction: rtl;">

                <h2>אנא הכנס את כותבת המייל של העובד</h2><br>
                <div dir="rtl">
                    <input type="email" #ngSendEmail="ngModel" [(ngModel)]="send" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                        style="border-color: #fdec00;margin-right: 36%;"><br><br>
                </div>
                <button type="button" class="button"  [disabled]="!myForm.valid" (click)="sendEmail(send)" data-dismiss="modal">אישור</button>
                <!-- <button type="button" class="button1" data-dismiss="modal">ביטול</button> -->
            </form>

            </div>
        </div>
    </div>
</div>


<!-- הפרטים הוכנסו בהצלחה -->
<div class="container mt-3">
    <div class="modal fade" id="enter" style="margin-top: 13%; ">
        <div class="modal-dialog" style="width: 20%;" >
            <div class="modal-content" style="display: flex; flex-direction: column; min-height: 10vh;background-color: #c1272d;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-right:-95%; margin-top: 1.5%;">×</button>
                    <div *ngIf="modal1==true">
                <p class="p3">קיבלנו את בקשתך בלחיצה על אישור פעולתך באתרנו תסתיים</p><br>  
            </div>
            <div *ngIf="modal1==false">

                <p class="p3">קיבלנו את בקשתך אך עלייך לבצע את כל השליחויות שלך וכבר בבוקר פעולתך באתרנו תסתיים</p><br>  
            </div>
                <button type="button" class="button2" data-dismiss="modal">אישור</button>
            </div>
        </div>
    </div>
</div>          
