<section class="row">
    <div class="col-xs-12 col-lg-12">
        <img src="../../assets/Images/date.jpg" class="img-responsive" >
        <p class="p">השליחויות שלי</p>
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="div1" dir="rtl">
                    <a >
                        <p class="p1">יומן השליחויות שלי</p><br>
                    </a>
                    <div class="YellowLineLeft1"></div><br>
                    <a>
                    <p class="p1">השליחויות שהיו שלי</p></a><br>
                    <div class="YellowLineLeft1"></div><br>
                    <!-- <div class="row text-center"> -->
                        <!-- <div class="thumbnail"> -->
                            <a [routerLink]="['/AllDetailsCompany']">
                                <p class="p1" >עדכון פרטי החברה שלי</p>
                            </a><br>
                        <!-- </div> -->
                    <!-- </div> -->
                    <div class="YellowLineLeft1"></div><br>
                        <a (click)="delete()"><p class="p1">מחיקת המשתמש שלי</p></a><br>
                    <div class="YellowLineLeft1"></div><br>
                </div>
                <div class="YellowLinealong"></div>
                <div class="div2"></div><br><br><br>
                <div class="div3"></div><br><br><br>
                <div class="div3"></div><br><br>
                <button type="button" class="button">פירוט המסלול</button>
                <!-- <button type="button" class="button">פירוט מסלולים</button><br><br><br><br>
                <button type="button" class="button">פירוט מסלולים</button> -->
            </div>
        </div>
    </div>
</section>