<section class="row">
    <div class="col-xs-12 col-lg-12">
        <!-- <div class="a"> -->
            <img src="../../assets/Images/Home.jpg" class="img-responsive" style="margin-top: -1%;">
                <!-- </div> -->
<!-- <a  class="down fa fa-chevron-circle-down"></a> -->
        <button  (click)="scroll(target)" class=" fa fa-chevron-circle-down down">
        </button>
        <div #target>

        <!-- <a class="a" href=""><img src="../../assets/Images/pic1.jpg"></a> -->
        <br><br>
            <p class="p">קצת עלינו</p>
            <div class="YellowLineLeft"></div>
            <div class="YellowLineRight"></div>
            <br><br>
            <div class="container">
                <div class="container-fluid">
                    <div class="text-center">
                        <h4 class="p3">קוויקלי הינה מערכת אשר דואגת גם לחברות שליחויות וגם לאנשים שרוצים להעביר חבילות
                            כמעט
                            לכל מקום ובכל זמן<br>
                            השליחות שלנו היא לתת לכם שקט וביטחון בכך שהחברות המובילות ביותר יעשו את
                            המסלול הקצר ביותר כדי שאתם תוכלו להינות מהשירות הטוב ביותר
                            <br>הכי חשוב שתזכרו קליק קטן והמשלוח כבר כאן<br>
                            תודה שבחרתם בקוויקלי
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>  <br><br>
<div class="container">
    <div class="container-fluid">
        <section class="row">
            <div class="col-sm-4 col-lg-4 text-center">      

                <img class="rotation" src="../../assets/Images/pic3.jpg">
                <h2 class="p2">כל גודל וכל כמות</h2>
                <h4 class="p3">בזכות החברות שעובדות איתנו לנו יש את האפשרות להעביר איזה גודל של חבילה שרק תרצו</h4><br>
            </div>
            <div class="col-sm-4 text-center">
                <img class="rotation" src="../../assets/Images/pic5.jpg">
                <h2 class="p2">בכל זמן</h2>
                <h4 class="p3">תעשו הזמנה עכשיו וכבר מחר תגיעה את החבילה </h4><br>
            </div>
            <div class="col-sm-4 text-center">
                <img class="rotation" src="../../assets/Images/pic4.jpg">
                <h2 class="p2">מכל מקום</h2>
                <h4 class="p3">החברות שעובדות איתנו הם הטובות ביותר אנו משתדלים להגיע מכל מקום לכל מקום </h4><br>
            </div>
        </section>
    </div>
</div>
<!-- <section class="row">
    <div class="col-sm-12">
        <p class="p">השירותים שלנו</p>    
        <div class="YellowLineLeft1"></div>
        <div class="YellowLineRight1"></div>
        <br><br><br>
        <div class="col-sm-3">
            <div class="picture"></div>
        </div>
            <div class="col-sm-3">
            <div class="picture"></div>
        </div>
            <div class="col-sm-3">
            <div class="picture"></div>
        </div>
            <div class="col-sm-3">
            <div class="picture"></div>
        </div>
    </div>
</section> -->

<section class="row">
    <div class="col-sm-12">
        <p class="p">?איך זה עובד</p>
        <div class="YellowLineLeft1"></div>
        <div class="YellowLineRight1"></div>
        <br><br><br><br>
        <div class="container">
            <div class="container-fluid">
                <div class=" rotation1 col-sm-12 text-center">
                    <img style="max-width:100%;" src="../../assets/Images/pic2.jpg">
                </div>
                <div class="col-xs-4 text-center">
                    <h2 class="p2">!ההזמנה הגיעה ליעד</h2>
                    <h4 class="p4">מה שנשאר זה להמליץ עלינו לאחרים כמובן רק אם יצאתם מרוצים</h4><br>
                </div>
                <div class="col-xs-4 text-center">
                    <h2 class="p2">עוקבים אחרי ההזמנה</h2>
                    <h4 class="p4">היכנסו למשתמש שלכם ושם תוכלו לעקוב אחר ההזמנה ולראות היכן היא נמצאת</h4><br>
                </div>
                <div class="col-xs-4 text-center">
                    <h2 class="p2">עושים הזמנה</h2>
                    <h4 class="p4">הירשמו לאתר הכניסו את ההזמנה ואנחנו נדאג לכל השאר</h4><br>
                </div>
            </div>
        </div>
    </div>
</section>
<button type="button" class="button btn-lg" [routerLink]="['/Delivery']">להזמנה</button>

<section class="row">
    <div class="col-sm-12">
        <p class="p">הלקוחות ממליצים</p>
        <div class="YellowLineLeft1"></div>
        <div class="YellowLineRight1"></div>
        <br>
    </div>
</section>

<div id="portfolio" class="container-fluid text-center">
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"!!אני כל כך שמח שעשיתי הזמנה כאן"<br><span>אביתר כהן, ירושלים</span></h4>
            </div>
            <div class="item">
                <h4>"!!במילה אחת...וואוו"<br><span>משה אדרי, אילת</span></h4>
            </div>
            <div class="item">
                <h4>"!!אני ממש מרוצה מהשירות"<br><span>מיכל כהן, טבריה</span></h4>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <div style="padding-top: 80px;">
                < </div>
                    <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <div style="padding-top: 80px;">></div>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>