<section class="row" >
    <div class="col-xs-12 col-lg-12" >
        <!-- <img src="../../assets/Images/note.jpg" class="img-responsive" > -->
<!-- 
        <img src="../../assets/Images/pic10.jpg" class="img-responsive" style="margin-left: 45%;">
        <div class="YellowLineLeft"></div>
        <div class="YellowLineRight"></div>
        <br><br>    -->
        <!-- <p class="p">לסיום</p> -->
        <p class="p1">נשמח לשמוע מה אתה חושב על עלינו</p><br>
    </div>
    <span class="fa fa-star star1"></span>
    <span class="fa fa-star star3"></span>
    <span class="fa fa-star star2"></span>
    <span class="fa fa-star star2"></span>
    <span class="fa fa-star star2"></span>
</section>    
<div class="container">
    <div class="container-fluid" >
<textarea name="textarea1" class="note" dir="rtl" style="resize: none;" placeholder="הערה" #ngNote="ngModel" [(ngModel)]="note"></textarea>
    </div>
</div>
<button type="button" class="button1" (click)="Note()">שלח</button>

